<div class="card text-center">
  <div class="card-header">
    CareerFoundry
  </div>
  <div class="card-body">
    <h5 class="card-title">UX, UI and Web Development Courses Online</h5>
    <p class="card-text">Learn in-demand skills today and change your career</p>
  </div>
  <div class="card-footer text-muted">
    Select the course that will change your career
    <%= render partial: 'options' %>
  </div>
</div>
